.section2 .section{
    padding-top: 40px;
    padding-bottom: 60px;
}
.section2 .big-section-title {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    color: rgba(28,28,27,1);
    letter-spacing: 0.64px;
    text-transform: uppercase;
}
@media only screen and (max-width: 1600px){
    .section2 .big-section-title {
        font-size: 32px;
    }
}
.section2 .red {
    color: rgba(227,5,19,1);
}
.text-center {
    text-align: center!important;
}
.section2 .vl-1 {
    background-color: rgba(234,238,241,1);
    width: 2px;
    height: 100%;
    max-width: 2px;
    flex: 2px;
    margin: 0 auto;
    display: block;
}
.section2 .section-title {
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    color: rgba(28,28,27,1);
    letter-spacing: 0.2px;
}
.section2 .list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}
.section2 .list-group-horizontal {
    -ms-flex-direction: row;
    flex-direction: row;
}
div.nav .nav-link {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0px;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #e9eef3;
}
div.nav .nav-link.active {
    border-bottom: 2px solid #E30513;
    background-color: white;
    color: #E30513;
}
div.nav .nav-item a {
    color: black;
}
.section .big-section-title {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(28,28,27,1);
    letter-spacing: 0.64px;
    text-transform: uppercase;
}
.small-letter {
    text-transform: unset !important;
}
.video-fluid {
    width: 100%;
    height: auto;
}