.big-section-title {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(28,28,27,1);
    letter-spacing: 0.64px;
    text-transform: uppercase;
}
@media only screen and (max-width: 1600px){ 
.big-section-title  { 
    font-size: 32px;
  } 
}     

 .red {
    color: rgba(227,5,19,1);
}
.section-title {
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    color: rgba(28,28,27,1);
    letter-spacing: 0.2px;
}
.small-letter {
    text-transform: unset !important;
}
/* .vl-1 {
    background-color: rgba(234,238,241,1);
    width: 2px;
    height: 100%;
    max-width: 2px;
    flex: 2px 1;
    margin: 0 auto;
    display: block;
} */